{"filter":false,"title":"requirements.txt","tooltip":"/requirements.txt","undoManager":{"mark":0,"position":0,"stack":[[{"start":{"row":10,"column":0},"end":{"row":11,"column":0},"action":"insert","lines":["gunicorn==19.9.0",""],"id":2}]]},"ace":{"folds":[],"scrolltop":75,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":4,"state":"start","mode":"ace/mode/text"}},"timestamp":1564519604903,"hash":"b4a4bd646df27ce62436ba30247268fde0afd244"}