{"filter":false,"title":"requirements.txt","tooltip":"/requirements.txt","ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":30,"mode":"ace/mode/text"}},"hash":"4722e44a1ca31b3edc79226f76c9a7aaf4da56b1","undoManager":{"mark":0,"position":0,"stack":[[{"start":{"row":8,"column":1},"end":{"row":9,"column":1},"action":"insert","lines":["sycopg2-binary==2.8","p"],"id":2}]]},"timestamp":1564248431216}