{% extends 'base.html' %}
{% load bootstrap_tags %} 
{% block page_title %}Password Reset Page {% endblock %}

{% block page_heading %}Reset Password{% endblock %}

{% block content %}

<div class="row">
    <div class="col-8 offset-2 col-md-6 offset-md-3">
        <form class="form-group text-center" method="POST">
            <p><b>Please enter your email address to reset your password</b></p>
            <div class="form-group">
                <input   type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            
             {{ form.email.errors }}
            <p><label for="id_email" class="control-label required-field">E-mail address:</label> {{ form.email }} <input class="btn btn-info btn-sm" type="submit" value="Reset password" /></p>
            </div>
        </form>
    </div>
</div>

{% endblock %}