{% extends 'base.html' %} {% load bootstrap_tags %}

{% block page_heading %}Request a Dog{% endblock %}

{% block content %}

<div class="container-fluid">			
		<div class="row">
			<div class="col-12 offset-sm-1 col-sm-10 offset-lg-3 col-lg-6">
				
				<!-- Add/Edit Product Request Form -->
				<form method="POST" >
		            {% csrf_token %}
		            {{ form | as_bootstrap }}
	    			<button type="submit"  class="btn btn-warning">Save Ad</button>
	    			<button type="button" class="btn btn-primary" onclick="history.go(-1)">Cancel</button>
				</form>
				<!-- /Add/Edit Product Request Form -->

			</div>
		</div>	
</div>			
{% endblock %}