{% extends 'base.html' %} {% block content %} {% load static from staticfiles %}{% load bootstrap_tags %}
<div class="container-fluid">
	<div class="row">
		<div class="col-12 offset-sm-1 col-sm-10 offset-lg-2 col-lg-8">
			<div class="card ">
				<div class="row">
					<div class="col-12 ">
						<aside class="col-sm-5 border-right">
							<article class="gallery-wrap">
								<div class="img-big-wrap">
									<div> <a href="#"><img src="url('{{ MEDIA_URL }}{{ ad.image }}')"></a></div>
								</div>
								<!-- slider-product.// -->
							</article>
							<!-- gallery-wrap .end// -->
						</aside>
						<aside class="col-sm-7">
							<article class="card-body p-5">
								<h3 class="title mb-3">{{ ad.title }}</h3>

								<p class="price-detail-wrap">
									<span class="price h3 text-warning"> 
										<span class="currency">EUR €</span><span class="num">{{ ad.price }}</span>
									</span>
								</p>
								<!-- price-detail-wrap .// -->
								<dl class="item-property">
									<dt>Description</dt>
									<dd>
										<p>{{ ad.description }}</p>
									</dd>
								</dl>
								<dl class="param param-feature">
									<dt>Breed</dt>
									<dd>{{ ad.breed }}</dd>
								</dl>
								<!-- item-property-hor .// -->
								<dl class="param param-feature">
									<dt>Color</dt>
									<dd>{{ ad.color }}</dd>
								</dl>
								<!-- item-property-hor .// -->
								<dl class="param param-feature">
									<dt>Location</dt>
									<dd>{{ ad.location }}</dd>
								</dl>
								<!-- item-property-hor .// -->
								<dl class="param param-feature">
									<dt>Status</dt>
									<dd>{{ ad.status }}</dd>
								</dl>
								<hr>
								<div class="row">
									<div class="col-sm-5">
										<dl class="param param-inline">
											<dt>Ad Views: </dt>
												<dd>
													{{ ad.views }}
												</dd>
										</dl>
										<!-- item-property .// -->
									</div>
									<!-- col.// -->
									<div class="col-sm-7">
										<dl class="param param-inline">
											<dt>UpVotes: </dt>
												<dd>
													{{ ad.upvotes }}	
												</dd>
										</dl>
										<!-- item-property .// -->
									</div>
									<!-- col.// -->
								</div>
								<!-- row.// -->
								<hr>

								<form method="POST" action="{% url 'add_to_cart' ad.id %}">
									{% csrf_token %}
									<div class="input-group">
										<input name="quantity" type="number" min="1" max="999" style="width:50%" class="form-control param param-inline" placeholder="Quantity" />
										<span class="input-group-btn">
											<button type="submit" class="btn btn-lg btn-outline-info text-uppercase"> <i class="fas fa-shopping-cart"></i> Add to cart </button>
										</span>
									</div>
								</form>

							</article>
							<!-- card-body.// -->
						</aside>
						<!-- col.// -->
					</div>
					<!-- row.// -->
				</div>
				<!-- card.// -->
			</div>
		</div>
	</div>
</div>
{% endblock %}
