{% extends 'base.html' %} 

{% load staticfiles %} 

{% block page_heading %}Request a Dog{% endblock %}
{% block content %} 
<div class="container-fluid">
    <div class="row">
        <!-- Request a Dog brief/explanation -->
        <div class="col-12 text-center" >
            <p><em><b>If you haven't found the dog you're looking for, simply make a request to <span class="intro-logo">DogDeal</span> below and we'll get back to you ASAP!</em></b></p>
        </div>
        <!-- /Request a Dog brief/explanation -->

    </div>
    
    <div class="row">

        <!-- Advertisement Request Table -->
        <div class="col-12 col-lg-10 offset-lg-1">
            <table class="table table-image">
                <thead>
                    <tr>
                        <th scope="col">Title</th>
                        <th class="small-hidden" scope="col"></th>
                        <th scope="col">Description</th>
                        <th class="small-hidden" scope="col">Breed</th>
                        <th class="small-hidden" scope="col">Location</th>
                        <th scope="col">View Ad</th>
                    </tr>
                </thead>
                <tbody>
                    {% for dogs in wanted_dogs %}
                    <tr>
                        <th scope="row">{{ dogs.title }}</th>
                        <td class="thumbnail small-hidden" style="background-image: url('{{ MEDIA_URL }}{{ dogs.image }}')" class="img-fluid img-thumbnail" alt="{{ dogs.title }}">
                            
                        </td>
                        <td>{{ dogs.description }}</td>
                        <td class="small-hidden">{{ dogs.breed }}</td>
                        <td class="small-hidden">{{ dogs.location }}</td>
                        <td><a role="button" class="btn btn-info" href="{% url 'wanted_dog_ad' dogs.id %}">View Ad</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- /Advertisement Request Table -->
        
        <!-- Request a Dog CTA button -->
        <div class="col-12 col-lg-10 offset-lg-1">
            <a href="{% url 'add_dog_wanted_ad' %}"  role="button" class="btn btn-warning">Request a Dog</a>
        </div>
        <!-- /Request a Dog CTA button -->
    </div>
</div>

{% endblock %}
