{% extends 'base.html' %}

{% block page_title %}{{ user }}'s Profile{% endblock %}

{% block page_heading %}{{ user|title }}'s Profile{% endblock %}

{% block content%}

<div class="container-fluid">
	<div class="row text-center">
		<div class="col-10 offset-1">
			<p><strong>Your registered email:</strong> {{ profile.email }}</p>
			<p><strong>Last Log In: </strong> {{user.last_login}}</p>
		
		
		<div>
			<h5><strong>List of site users</strong></h5>
			{% for user in all_users %}
			<p>{{ user }}</p>
			{% endfor %}
		</div>
		
		
		
		
		</div>
		
	</div>
	
</div>


{% endblock %}
